.App {
  text-align: center;
  background-color: #EEEEEE;
  min-height: 100vh;
  color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.App-Container {
  position: relative;
  margin: 60px 150px;
  background: white; 
  height: 400px;
}

.header {
  display: flex;
  align-items: flex-start;
  font-size: 24px;
  padding: 15px;
}

.header-left img {
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.5);
}

.header-center {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.header h3 {
  margin: 0;
}

.light-font {
  font-weight: 400;
}

.price {
  color: #1D781D;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}

.header a {
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #0068D9;
}

.header a span {
  position: relative;
  top: -2.5px;
  font-weight: bold;
  margin-left: 3px;
}

.header img {
  margin-top: 3px;
}

.card {
  display: grid;
  grid-template-columns: 75px auto;
  border: 1px solid #cccccc;
}

.card-left {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 75px;
  /* width: 75px; */
  border-right: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 2/3;
}

.day {
  color: #666666;
}

.sold-out {
  width: 100px;
  /* height: 50px; */
  margin: 0 10px;
}

.sold-out-time {
  text-decoration: line-through;
  color: #666666;
}

.btn {
  width: 100px;
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 700;
}

.btn-full {
  background: #0068D9;
  border: none;
  color: white;
}

.btn-ltd {
  background: #ffffff;
  border: 1px solid #cccccc;
}












.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
